* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Main color of the background of the page */
body {
    background-color: #d9dcd6;
}
/* Blue bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Big Horiseon text in the blue at the top of the page */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}
/* The options to the right of the big Horiseon text */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Color of the text in the
 options in the blu bar at the top */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Big main picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    size: cover;
    position: center;
}
/* Dark blue boxes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Images in the dark blue boxes */
.content img {
    max-height: 200px;
}
/* Title in the dark blue boxes */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Small text in the dark blue
 boxes and in the light blue box */
p {
    font-size: 16px;
}
/* Puts the Search Engine Optimization and
 the Social Media Marketing images on the left side. */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Puts the Online Reputation Management image 
on the right side */
.float-right {
    float: right;
    margin-left: 25px;
}
/* The light blue box on the rigth side of the website */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Titles for the light blue box */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Images for the light blue box */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Bigger part of the footer */
.footer h2 {
    font-size: 20px;
}
